.wonderfulContent {
    background-color: orange;
    color: purple;
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 40px;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 10px;
        background-image: -webkit-linear-gradient(
            0deg,
            red 20px,
            blue 20px,
            blue 40px,
            yellow 40px,
            yellow 60px,
            green 60px,
            green 80px
        );
        background-size: 80px;
    }
}
